<div class="row animate__animated animate__fadeIn">
  <form class="col-lg-6" [formGroup]="amountForm" (ngSubmit)="add()">
    <h2 class="text-center font-title">Enter your budget</h2>
    <div class="card shadow-sm mt-3">
      <div class="card-body">
        <input
          type="number"
          class="form-control form-control-lg"
          placeholder="Enter your budget..."
          formControlName="amount"
        />
        <button
          type="submit"
          [disabled]="amountForm.invalid"
          class="btn btn-secondary btn-lg btn-block mt-2 w-100"
        >
          OK
        </button>
      </div>
    </div>
  </form>
</div>
